/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
}

body {
  background: #E7ECEF;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background: #274C77;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  padding: 3rem;
  border-radius: 1rem;
  text-align: center;
  transition: all 0.3s;

  @media (max-width: 350px) {
    padding: 1.5rem;
  }
}

img {
  width: 100px;
  height: 100px;
  border-radius: 9999px;
  margin-bottom: 2rem;
}

h1{
  font-weight: 600;
}

h2 {
  font-weight: 700;
  color: #A3CEF1;
  font-size: 1rem;
}

p {
  margin: 1.5rem 0;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

li {
  display: flex;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  background: #6096BA;
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: 700;
  transition: all 0.3s;
}

a:hover {
  background: #A3CEF1;
  /* color: hsl(0, 0%, 8%); */
  color: #274C77;
  cursor: pointer;
}
